<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h3>Full stack blog, with the Purpose of learning the <i>basics</i> of:</h3>
        <ul>
            <li>NodeJS + making a web server in different methods</li>
            <li>ExpressJS  web server + Routing</li>
            <li>MVC Concepts</li>
            <li>View Engines -- EJS</li>
            <li>MongoDB Atlas, MongoSH, MongoDB Compass & Mongoose</li>
            <li>and more...</li>
        </ul>
        <br>
        <p>Check source code if interested, link in nav.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>