<nav>
    <div class="site-title">
        <a href="/"><h1>Blog 📖</h1></a>
        <p>A fullstack simple blog application done to learn nodejs + express 🎉</p>
        <a href="https://github.com/khaleed-dev" target="_blank" style="color: crimson;">Source Code</a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>